
body {
    
    font-family: 'Source Sans Pro', sans-serif;
    /*background-color: black;*/
    font-weight: bold;
}


@media all and (min-width: 375px){
 
    }


.navvy {
    width: 1000px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 70px;

    margin: auto;
    text-align: center;
    margin-top: 25px;
    background-color: #fce341;

   /*left: 30%;*/
}

.content-wrapper {
    width: 1000px;
    height: 700px;
    padding-top: 80px;
    margin: auto;
    background: url('../images/image02.jpg');
    background-repeat: no-repeat;
}

.content-inside {
    margin: 0 auto;
    width: 668px;
    padding: 40px;
    background-color: rgba(255,255,255,.5);
    font-family: 'Source Sans Pro', sans-serif;

}

#section-one {
    opacity: 0;
    /*display: none;*/
    text-align: center;
}

.bottom-images {
    padding-left: 20px;
}

.nico {
    color: white;
    font-weight: bolder;
    text-align: center;

}
.top-a{
    padding-left: 30px;
}

.bottom-a{
    padding-left: 29px;
}
#desc {
    text-align: center;

}

#surf {
    padding-left: 4px;
}
/*.bcontent-inside {
    height: 400px;
    margin: 0 auto;
    width: 900px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}*/



 .samps {
    width: 950px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 700px;
    margin: auto;
    margin-top: 25px;
    background-color: #e1dee2;
    padding-left: 50px;
    padding-top: 25px;
}
   
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 10px
    font-weight: bolder;
}

.button a {
    color: #2d8ec6;
    text-decoration: none;

}

.button a:hover {
    color: white;
}

.button {
    background-color: #fce341;
    color: #0072ac; 
}

.button4 {
    background-color: #d3dae5;
    margin-left: 265px;
     margin: none;
}

.button1:hover {
    background-color: #f49033;
    color: white;
}


.button2:hover {
    background-color: #4CAF50;
    color: white;
}

.button3:hover {
    background-color: #ff8684
;
    color: white;
}

.button4:hover {
    background-color: #7e9ccc;
    color: white;
}

.img-trns {
    transition: all .5s;
} 

.img-trns:hover {
    transform: scale(2);
}


